@import '~@/styles/mixins', './ask-toast-theme.scss';
.ask-toast-box {
	position: fixed;
	z-index: 300000000;
	top: 5%;
	left: 7%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	pointer-events: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	&.top-left {
		top: 5%;
		right: auto;
		bottom: auto;
		left: 7%;
	}
	&.top-center {
		top: 5%;
		right: auto;
		bottom: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	&.top-right {
		top: 5%;
		right: 7%;
		bottom: auto;
		left: auto;
	}
	&.bottom-left {
		top: auto;
		right: auto;
		bottom: 5%;
		left: 7%;
	}
	&.bottom-center {
		top: auto;
		right: auto;
		bottom: 5%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	&.bottom-right {
		top: auto;
		right: 7%;
		bottom: 5%;
		left: auto;
	}
	.ask-toast-message {
		font-size: 1.6rem;
		margin-top: 10px;
		padding: 8px 12px;
		-webkit-transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
		transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
		transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
		transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1), -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
		word-break: break-all;
		pointer-events: auto;
		color: #fff;
		border-radius: 2px;
		background-color: #353535;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
		box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	}
}

@include askToastTheme('success');
@include askToastTheme('danger');
@include askToastTheme('info');
