$baseUrl: '~@/assets/';
/* 不带单位正常颜色，D颜色较深(D2,D3越深),S颜色较浅(S2,S3越浅) */
$main: (
	50: #e3f2fd,
	100: #bbdefb,
	200: #90caf9,
	300: #64b5f6,
	400: #42a5f5,
	500: #2196f3,
	600: #1e88e5,
	700: #1976d2,
	800: #1565c0,
	900: #0d47a1,
	A100: #82b1ff,
	A200: #448aff,
	A400: #2979ff,
	A700: #2962ff,
);
$color: (
	/* 100: #303B4F,*/
	/* 1002: #25abec,*/
	100: #1d82d2,
	1002: #1d82d2,
	200: #fff,
	300D3: #000,
	300: #333,
	300S1: #666,
	300S2: #999,
	400D1: #a0a0a0,
	400: #ededed,
	400S1: #d4d4d4,
	400S2: #d9d9d9,
	500D1:#f7f7f7,
	500:#f1f1f1,
	500S1:#ededed,
	500S2:#fafbfc,
	600: #f02b2e,
	700: #4db6e5,
	800: #34cd79,
	900: #FBAB54
);
$calendar: (
	100: #fff,
	200: #1abc9c,
	300:#2b94e7,
	400: #333,
	500:#767676,
	600:#f1f1f1
);
$askTab: (
	100: #454553,
	200: #999,
	300: #fff
);
$scrollbar: (
	100: #fff,
	200: #1abc9c,
	300:#2b94e7,
	400: #333,
	500:#767676,
	600:#f1f1f1
);
$loader: (
	100S1: #3498db,
	100: #1d82d2,
	200S1: #e67e22,
	200: #d35400,
	300S1: #95a5a6,
	300: #7f8c8d,
	400S1:#34495e,
	400:#2c3e50,
	500S1:#1abc9c,
	500:#16a085,
	600:#c0392b
);
$report: (
	100: #ffa348,
	101: #ffdd7d,
	200: #fd7b47,
	201: #f89b77,
	300: #63d185,
	301: #bfeda9,
	400: #546ffc,
	401: #7d93fb,
	500: #fe5a5e,
	501: #efc384
);
