
.icon-gou:before { content: "\e607"; }

.icon-bianji:before { content: "\e60b"; }

.icon-chakan:before { content: "\e699"; }

.icon-gou-copy:before { content: "\e627"; }

.icon-cha:before { content: "\e696"; }

.icon-tianjia:before { content: "\e60c"; }

.icon-shanchu:before { content: "\e622"; }

