@import '~@/styles/mixins';
.ask-overlay-box {
	cursor: pointer;
	@include fullScreen();
	@include setBox(100%, 100%);
}

.ask-overlay-fade-enter-active {
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.ask-overlay-fade-leave-active {
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

.ask-overlay-fade-enter, .ask-overlay-fade-leave-to {
	opacity: 0;
}
